.topAppBar {
  background: rgb(134, 1, 1);
  background: linear-gradient(
    90deg,
    rgba(134, 1, 1, 1) 0%,
    rgba(173, 17, 40, 1) 61%,
    rgba(221, 0, 0, 1) 100%
  );
}
.HorizontalDrawerComponent {
  position: absolute;
  left: 50px;
  top: 650px;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .HorizontalDrawerComponent {
    left: 20px; /* replace with desired distance from left boundary for smaller screens */
    top: 650px;
  }
}

@media screen and (max-width: 480px) {
  .HorizontalDrawerComponent {
    left: 20px; /* replace with desired distance from left boundary for even smaller screens */
    top: 650px;
  }
}
@media screen and (max-width: 390px) {
  .HorizontalDrawerComponent {
    left: 20px; /* replace with desired distance from left boundary for even smaller screens */
    left: 20px; /* replace with desired distance from left boundary for even smaller screens */
    top: 670px;
  }
}
/* chrome and chromium based */
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
